.About{
    text-align:center;
}

.body{
    text-align: center;
    padding-top: 15rem;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.sabonglogo{
    width: 13rem;
    margin-bottom: 2rem;
}

.vl {
    border-left: 0.1rem solid black;
    height: 15vh;
    position: relative;
    left: 50%;
    margin-left: -3px;
}

.bandIntro{
    margin-top: 3rem;
    margin-bottom:7.5rem;
}
.bandIntro p{ 
    font-size: 0.8rem;
    line-height:1.5rem;
}

.bandIntro s{
    font-size: 0.8rem;
    line-height:1.5rem;
}

@media screen and (max-width: 1000px){
    .bandIntro p{
        font-size: 0.7rem;
        line-height:1.2rem;
    }
    .sabonglogo{
        width: 7rem;
        margin-bottom: 2rem;
    }
    .vl{
        height: 11vh;
    }
}

.wrapperNav{
    margin-top: 15vh;
    max-width: 100vw;
    width: 100%;
    overflow:hidden;
}

@media screen  and (max-width: 800px){
    .body{
        padding-top: 10rem;
    }
    .sabonglogo{
        width: 8rem;
        margin-bottom: 2rem;
    }
    .vl{
        height: 10vh;
    }
    .bandIntro{
        width: 80vw;
        position: relative;
        left: 10%;
    }
    .bandIntro p{
        font-size: 0.8rem;
        line-height:0.9rem;
    }

}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.slick-slide img{
    width: 25rem;
    filter: brightness(50%);
}
.slick-slide img:focus{
    outline:none;
}
.slick-current img{
    width:30rem;
    z-index: 1000;
    filter: brightness(100%);
}

.slick-prev{
    left: 100px !important;
}

.slick-next{
    right: 100px !important;
}

.slick-prev, .slick-next{
    color: green !important;
    z-index: 2;
    width: 50px !important;
}

html{
    overflow-x : hidden;
}